<a href="https://colab.research.google.com/github/vasu-rguktn/Team_X/blob/main/ASHRAE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.12/dist-packages (18.1.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import os

In [ ]:
os.listdir()

['.config', 'archive.zip', 'sample_data']

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: building_metadata.feather
  inflating: sample_submission.feather
  inflating: test.feather
  inflating: train.feather
  inflating: weather_test.feather
  inflating: weather_train.feather

In [ ]:
import os
os.listdir()

['.config',
 'train.feather',
 'archive.zip',
 'weather_train.feather',
 'test.feather',
 'weather_test.feather',
 'building_metadata.feather',
 'sample_submission.feather',
 'sample_data']

In [ ]:
import pandas as pd
train=pd.read_feather("train.feather")
building=pd.read_feather("building_metadata.feather")
weather=pd.read_feather("weather_train.feather")

FileNotFoundError: [Errno 2] No such file or directory: 'train.feather'

In [ ]:
print(train.shape)
print(building.shape)
print(weather.shape)

(20216100, 4)
(1449, 6)
(139773, 9)

In [ ]:
train.head()

   building_id  meter  timestamp  meter_reading
0            0      0 2016-01-01            0.0
1            1      0 2016-01-01            0.0
2            2      0 2016-01-01            0.0
3            3      0 2016-01-01            0.0
4            4      0 2016-01-01            0.0

In [ ]:
building.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [ ]:
weather.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.000000,6.0,20.0,NaN,1019.700012,0.0,0.0
1,0,2016-01-01 01:00:00,24.400000,NaN,21.1,-1.0,1020.200012,70.0,1.5
2,0,2016-01-01 02:00:00,22.799999,2.0,21.1,0.0,1020.200012,0.0,0.0
3,0,2016-01-01 03:00:00,21.100000,2.0,20.6,0.0,1020.099976,0.0,0.0
4,0,2016-01-01 04:00:00,20.000000,2.0,20.0,-1.0,1020.000000,250.0,2.6

In [ ]:
data=train.merge(building,on="building_id",how="left")

In [ ]:
data=data.merge(weather,on=["site_id","timestamp"],how="left")

In [ ]:
data=data[['meter_reading','air_temperature','dew_temperature','wind_speed']]

In [ ]:
data.fillna(data.mean(),inplace=True)

In [ ]:
print(data.columns)

Index(['meter_reading', 'air_temperature', 'dew_temperature', 'wind_speed'], dtype='object')